<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<ul>
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('store') }}">Store(Hamdan and his Sons for Slippers</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('log') }}">Log In</a></li>
</ul>
<br>
<h1>
Heyyyy Welcome to the best Place in the world we are thankful for having you with us here, please chooses your favorite slippers by clicking on store and purchasing </h1>

</body>
</html>