<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<title>Hamdan and his sons</title>
	 <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<ul>
<li><a href="{{ url_for('home') }}">Home</a></li>
<li><a href="{{ url_for('store') }}">Store(Hamdan and his Sons for Slippers</a></li>
<li><a href="{{ url_for('about') }}">About</a></li>
<li><a href="{{ url_for('log') }}">Log In</a></li>
</ul>

<div class="container" >
	<div class="row" style ="margin-top: 25px;">
		<div class="col-2">
			<p><h1>Arabian Daddy Slippers</h1>
		</div>
			<div class="col-4">
				<p><img src="{{url_for('static', filename='Slip.jpeg', width=100)}}"/></p>
				<form action="/store" method="POST">
				<button style="background-color:yellow"><a href="{{ url_for('cart') }}" >Buy {{n}}</a></button> </p>
			    </form>
		</div>


		<div class="col-2">
			<h1>Sexy Flip-Flops</h1>
		</div>
			<div class="col-4">
				<p><img src="{{url_for('static', filename='Flip.jpeg', width=100)}}"/></p>
				<button style="background-color:yellow"><a href="{{ url_for('cart') }}">Buy Now or die</a></button></p>
			</div>
		</div>

</body>
</html>